
<div class="imageEditor">
    <h2>Edit Images</h2>
    <div id="image-response"></div>
    <ul class="sortable">
        <?

        $cImages = $this->imgEditorImages;
        $itemId = $this->imgEditorItemId;
        $sortScript = $this->imgEditorSortScript;
        $removeScript = $this->imgEditorRemoveScript;
        if (count($cImages)>0) :
            foreach ($cImages as $cImage):
                $images = $cImage->getAttachments();
                foreach ($images as $key => $attachment) {
                    try {

                        echo '<li class="single-image" id="arr_' . $cImage->getId() . '" data-li-image-id="' . $cImage->getId() . '">
                                        <div class="image-edit-icon"><a href="#" class="icon-2 removeImage" data-item-id="' . $itemId . '" data-image-id="' . $cImage->getId() . '">&nbsp;</a></div>
                                        <img src="' . $this->baseUrl . '/files/contentImage/' . $cImage->getId() . '/' . $key . '" />
                                      </li>';

                    } catch (Exception $e) {
                        echo $e->getMessage();
                    }
                }
            endforeach;
        else :
            echo $this->translate('No Images available.');
        endif;
        ?>
    </ul>
    <script>

        jQuery('.sortable').sortable({
            update:function () {
                var order = $(this).sortable("serialize");
                $.post('<?=$sortScript?>', order, function (theResponse) {
                    $("#image-response").html(theResponse);
                });
            }
        });

        jQuery('.removeImage').bind('click', function (event) {

            var that = this,
                    itemId = jQuery(this).attr('data-item-id'),
                    imageId = jQuery(this).attr('data-image-id');


            if (confirm('Remove Image?')) {
                event.preventDefault();
                jQuery.ajax({
                    url:'<?=$removeScript?>',
                    data:{
                        itemId:itemId,
                        imageId:imageId
                    },

                    success:function (data) {
                        if (data == 'Done') {
                            jQuery('#arr_' + imageId).remove();
                        }

                    }
                })
            }
        });
    </script>
    <div class="clear"></div>
</div>