<!--  start product-table ..................................................................................... -->
<form id="mainform" action="asdf">
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
        <tr>
            <th class="table-header-check"><a id="toggle-all" ></a> </th>
            <th class="table-header-repeat line-left minwidth-1"><a href=""><?=$this->translate('Last Name')?></a></th>
            <th class="table-header-repeat line-left minwidth-1"><a href=""><?=$this->translate('First Name')?></a></th>
            <th class="table-header-repeat line-left"><a href=""><?=$this->translate('Email')?></a></th>
            <th class="table-header-repeat line-left"><a href=""><?=$this->translate('Role')?></a></th>
            <th class="table-header-options line-left"><a href="">Options</a></th>
        </tr>

        <?php $cycle=$this->cycle(array("","alternate-row"));?>

        <?php foreach($this->users as $user):?>
        <tr class="<?=$cycle->next()?> <?=!$user->isActive()?'row_inactive':''?>">
            <td><input  type="checkbox"/></td>
            <td><?=$user->getFirstname()?></td>
            <td><?=$user->getLastname();?></td>
            <td><?=$user->getEmail();?></td>
            <td><?=$user->getRole();?></td>
            <td class="options-width">
                <a href="<?=$this->editUrl?>/id/<?=$user->getId()?>" title="Edit" class="icon-1 info-tooltip"></a>
                <a href="<?=$this->deleteUrl?>/id/<?=$user->getId()?>" title="Delete" class="icon-2 info-tooltip" onclick="return confirm('<?=$this->translate('Delete User?')?>');"></a>
                <a href="<?=$this->deactivateUrl?>/id/<?=$user->getId()?>" title="<?=$this->translate($user->isActive()?'Deactivate User?':'Activate User')?>" class="icon-5 info-tooltip"  onclick="return confirm('<?=$this->translate($user->isActive()?'Deactivate User?':'Activate User')?>');"></a>
            </td>
        </tr>
        <?php endforeach; ?>
    </table>
    <!--  end product-table................................... -->
</form>
<!--  end content-table  -->

<!--  start actions-box ............................................... -->
<div id="actions-box">
    <a href="" class="action-slider"></a>
    <div id="actions-box-slider">
        <a href="" class="action-edit">Edit</a>
        <a href="" class="action-delete">Delete</a>
    </div>
    <div class="clear"></div>
</div>
<!-- end actions-box........... -->

<!--  start paging..................................................... -->
<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
    <tr>
        <td>
            <a href="" class="page-far-left"></a>
            <a href="" class="page-left"></a>
            <div id="page-info">Page <strong>1</strong> / 15</div>
            <a href="" class="page-right"></a>
            <a href="" class="page-far-right"></a>
        </td>
        <td>
            <select  class="styledselect_pages">
                <option value="">Number of rows</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </td>
    </tr>
</table>
<!--  end paging................ -->

<div class="clear"></div>