<!--  start loginbox ................................................................................. -->
<div id="loginbox">

    <!--  start login-inner -->
    <div id="login-inner">
        <?=$this->error?>
        <form action="<?=$this->loginForm->getAction()?>" method="<?=$this->loginForm->getMethod()?>">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><?=$this->translate('Email')?></th>
                <td><?=$this->loginForm->getElement('email')->render()?></td>
            </tr>
            <tr>
                <th><?=$this->translate('Password')?></th>
                <td><?=$this->loginForm->getElement('password')->render()?></td>
            </tr>
<!--            <tr>-->
<!--                <th></th>-->
<!--                <td valign="top"><input type="checkbox" class="checkbox-size" id="login-check" /><label for="login-check">Remember me</label></td>-->
<!--            </tr>-->
            <tr>
                <th></th>
                <td><input type="submit" class="submit-login" name="submit" value="login"/></td>
            </tr>
        </table>
        </form>
    </div>
    <!--  end login-inner -->
    <div class="clear"></div>
    <a href="" class="forgot-pwd">Forgot Password?</a>
</div>
<!--  end loginbox -->

<!--  start forgotbox ................................................................................... -->
<div id="forgotbox">
    <div id="forgotbox-text">Please send us your email and we'll reset your password.</div>
    <!--  start forgot-inner -->
    <div id="forgot-inner">
        <form action="<?=$this->forgetForm->getAction()?>" method="<?=$this->forgetForm->getMethod()?>">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th><?=$this->translate('Email address')?>:</th>
                    <td><?=$this->forgetForm->getElement('email')->render()?></td>
                </tr>
                <tr>
                    <th> </th>
                    <td><input type="button" class="submit-login" name="submit" value="forgot"/></td>
                </tr>
            </table>
        </form>
    </div>
    <!--  end forgot-inner -->
    <div class="clear"></div>
    <a href="" class="back-login">Back to login</a>
</div>
<!--  end forgotbox -->