<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Dispatcher</title>
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" title="default" />
        <!--[if IE]>
        <link rel="stylesheet" media="all" type="text/css" href="/css/pro_dropline_ie.css" />
        <![endif]-->

        <!--  jquery core -->
        <script src="/js/jquery/jquery-1.4.1.min.js" type="text/javascript"></script>


        <script type="text/javascript" src="/js/tiny_mce/tiny_mce.js"></script>

        <script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

        <!--  checkbox styling script -->
        <script src="/js/jquery/ui.core.js" type="text/javascript"></script>
        <script src="/js/jquery/ui.checkbox.js" type="text/javascript"></script>
        <script src="/js/jquery/jquery.bind.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function(){
                $('input').checkBox();
                $('#toggle-all').click(function(){
                    $('#toggle-all').toggleClass('toggle-checked');
                    $('#mainform input[type=checkbox]').checkBox('toggle');
                    return false;
                });
            });
        </script>

        <![if !IE 7]>

        <!--  styled select box script version 1 -->
        <script src="/js/jquery/jquery.selectbox-0.5.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.styledselect').selectbox({ inputClass: "selectbox_styled" });
            });
        </script>


        <![endif]>

        <!--  styled select box script version 2 -->
        <script src="/js/jquery/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.styledselect_form_1').selectbox({ inputClass: "styledselect_form_1" });
                $('.styledselect_form_2').selectbox({ inputClass: "styledselect_form_2" });
            });
        </script>

        <!--  styled select box script version 3 -->
        <script src="/js/jquery/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.styledselect_pages').selectbox({ inputClass: "styledselect_pages" });
            });
        </script>

        <!--  styled file upload script -->
        <script src="/js/jquery/jquery.filestyle.js" type="text/javascript"></script>
        <script type="text/javascript" charset="utf-8">
            $(function() {
                $("input.file_1").filestyle({
                    image: "/images/forms/choose-file.gif",
                    imageheight : 21,
                    imagewidth : 78,
                    width : 310
                });
            });
        </script>

        <!-- Custom jquery scripts -->
        <script src="/js/jquery/custom_jquery.js" type="text/javascript"></script>

        <!-- Tooltips -->
        <script src="/js/jquery/jquery.tooltip.js" type="text/javascript"></script>
        <script src="/js/jquery/jquery.dimensions.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function() {
                $('a.info-tooltip ').tooltip({
                    track: true,
                    delay: 0,
                    fixPNG: true,
                    showURL: false,
                    showBody: " - ",
                    top: -35,
                    left: 5
                });
            });
        </script>


        <!--  date picker script -->
        <link rel="stylesheet" href="/css/datePicker.css" type="text/css" />
        <script src="/js/jquery/date.js" type="text/javascript"></script>
        <script src="/js/jquery/jquery.datePicker.js" type="text/javascript"></script>
        <script type="text/javascript" charset="utf-8">
            $(function()
            {

    // initialise the "Select date" link

              $('.date-picker')
                    .datePicker(
                    // associate the link with a date picker
                    {
                      showOn: "button",
                      buttonImage: "/images/forms/icon_calendar.jpg",
                      buttonImageOnly: true,
                      format:'yyyy-mm-dd'
//                        createButton:false,
//                        startDate:'01/01/2005',
//                        endDate:'31/12/2020'
                    }
                );

                var updateSelects = function (selectedDate)
                {
                    var selectedDate = new Date(selectedDate);
                    $('#d option[value=' + selectedDate.getDate() + ']').attr('selected', 'selected');
                    $('#m option[value=' + (selectedDate.getMonth()+1) + ']').attr('selected', 'selected');
                    $('#y option[value=' + (selectedDate.getFullYear()) + ']').attr('selected', 'selected');
                }
    // listen for when the selects are changed and update the picker
                $('#d, #m, #y')
                    .bind(
                    'change',
                    function()
                    {
                        var d = new Date(
                            $('#y').val(),
                            $('#m').val()-1,
                            $('#d').val()
                        );
                        $('#date-pick').dpSetSelected(d.asString());
                    }
                );

    // default the position of the selects to today
                var today = new Date();
                updateSelects(today.getTime());

    // and update the datePicker to reflect it...
                $('#d').trigger('change');
            });
        </script>

        <!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
        <script src="/js/jquery/jquery.pngFix.pack.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(document).pngFix( );
            });
        </script>
    </head>
    <body>
        <!-- Start: page-top-outer -->
        <div id="page-top-outer">

            <!-- Start: page-top -->
            <div id="page-top">

                <!-- start logo -->
                <div id="logo">
                    <a href=""><img src="/images/shared/logo.png" width="156" height="40" alt="" /></a>
                </div>
                <!-- end logo -->

                <!--  start top-search -->

                <?php echo $this->placeholder('top-search'); ?>

                <!--  end top-search -->
                <div class="clear"></div>

            </div>
            <!-- End: page-top -->

        </div>
        <!-- End: page-top-outer -->

        <div class="clear">&nbsp;</div>

        <!--  start nav-outer-repeat................................................................................................. START -->

        <div class="nav-outer-repeat">
            <!--  start nav-outer -->
            <div class="nav-outer">

                <!-- start nav-right -->
                <?php echo $this->placeholder('navigation-right'); ?>
                <!-- end nav-right -->


                <!--  start nav -->
                <?php echo $this->placeholder('navigation'); ?>
                <!--  start nav -->

            </div>
            <div class="clear"></div>
            <!--  start nav-outer -->
        </div>
        <!--  start nav-outer-repeat................................................... END -->

        <div class="clear"></div>

        <!-- start content-outer ........................................................................................................................START -->
        <div id="content-outer">
        <!-- start content -->
            <div id="content">
                <!--  start page-heading -->
                <div id="page-heading">
                    <h1><?=$this->pageHeading?></h1>
                </div>
                <!-- end page-heading -->




                <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
                <tr>
                    <th rowspan="3" class="sized"><img src="/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
                    <th class="topleft"></th>
                    <td id="tbl-border-top">&nbsp;</td>
                    <th class="topright"></th>
                    <th rowspan="3" class="sized"><img src="/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
                </tr>
                <tr>
                <td id="tbl-border-left"></td>
                <td>
                <!--  start content-table-inner ...................................................................... START -->
                <div id="content-table-inner">

                    <!--  start table-content  -->
                    <div id="table-content">

                        <?php $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('sysFlashMessenger');?>

                            <?php foreach ($flashMessenger->setNamespace('success')->getCurrentMessages() as $msg): ?>
                            <div class="message-green">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="green-left">
                                            <?php echo $msg ?>
                                        </td>
                                        <td class="green-right"><a class="close-green"><img src="/images/table/icon_close_green.gif"   alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <?php endforeach; ?>

                            <?php foreach ($flashMessenger->setNamespace('stat_success')->getMessages() as $msg): ?>
                            <div class="message-green">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="green-left">
                                            <?php echo $msg ?>
                                        </td>
                                        <td class="green-right"><a class="close-green"><img src="/images/table/icon_close_green.gif"   alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <?php endforeach; ?>



                            <?php foreach ($flashMessenger->setNamespace('error')->getCurrentMessages() as $msg): ?>
                            <div class="message-red">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="red-left">
                                            <?php echo $msg ?>
                                        </td>
                                        <td class="red-right"><a class="close-red"><img src="/images/table/icon_close_red.gif"   alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <?php endforeach; ?>

                            <?php foreach ($flashMessenger->setNamespace('stat_error')->getMessages() as $msg): ?>
                            <div class="message-red">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="red-left">
                                            <?php echo $msg ?>
                                        </td>
                                        <td class="red-right"><a class="close-red"><img src="/images/table/icon_close_red.gif"   alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <?php endforeach; ?>


                            <?php foreach ($flashMessenger->setNamespace('notice')->getCurrentMessages() as $msg): ?>
                            <div class="message-yellow">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="yellow-left">
                                            <?php echo $msg ?>
                                        </td>
                                        <td class="yellow-right"><a class="close-yellow"><img src="/images/table/icon_close_yellow.gif"   alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <?php endforeach; ?>

                            <?php foreach ($flashMessenger->setNamespace('stat_notice')->getMessages() as $msg): ?>
                              <div class="message-yellow">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td class="yellow-left">
                                        <?php echo $msg ?>
                                    </td>
                                    <td class="yellow-right"><a class="close-yellow"><img src="/images/table/icon_close_yellow.gif"   alt="" /></a></td>
                                  </tr>
                                </table>
                              </div>
                            <?php endforeach; ?>

                            <?php foreach ($flashMessenger->setNamespace('info')->getCurrentMessages() as $msg): ?>
                            <div class="message-blue">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="blue-left">
                                            <?php echo $msg ?>
                                        </td>
                                        <td class="blue-right"><a class="close-blue"><img src="/images/table/icon_close_blue.gif"   alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <?php endforeach; ?>


                            <?php foreach ($flashMessenger->setNamespace('stat_info')->getMessages() as $msg): ?>
                            <div class="message-blue">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="blue-left">
                                            <?php echo $msg ?>
                                        </td>
                                        <td class="blue-right"><a class="close-blue"><img src="/images/table/icon_close_blue.gif"   alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <?php endforeach; ?>

                        <? echo $this->layout()->content ?>


                </div>
                <!--  end content-table-inner ............................................END  -->
            </td>
            <td id="tbl-border-right"></td>
            </tr>
            <tr>
                <th class="sized bottomleft"></th>
                <td id="tbl-border-bottom">&nbsp;</td>
                <th class="sized bottomright"></th>
            </tr>
            </table>
            <div class="clear">&nbsp;</div>

            </div>
        <!--  end content -->
        <div class="clear">&nbsp;</div>
        </div>
        <!--  end content-outer........................................................END -->

        <div class="clear">&nbsp;</div>

        <!-- start footer -->
        <div id="footer">
            <!--  start footer-left -->
            <div id="footer-left">
                meinEPR &copy; Copyright staffdeal GmbH. All rights reserved.
            </div>
            <!--  end footer-left -->
            <div class="clear">&nbsp;</div>
        </div>
        <!-- end footer -->
    </body>
</html>