<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
  <head>

    <title><?=$this->title?></title>

  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8" />

</head> 

<body>

	<?php echo $this->placeholder('Zend_Layout')->content;?>

</body>
</html>


