<!--  start product-table ..................................................................................... -->
<form id="mainform" action="asdf">
  <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
    <tr>
      <th class="table-header-check"><a id="toggle-all" ></a> </th>
      <th class="table-header-repeat line-left minwidth-1"><a href=""><?=$this->translate('Title')?></a></th>
      <th class="table-header-repeat line-left minwidth-1"><a href=""><?=$this->translate('Start Date - End Date')?></a></th>
      <th class="table-header-repeat line-left minwidth-1"><a href=""><?=$this->translate('Featured')?></a></th>
      <th class="table-header-repeat line-left"><a href=""><?=$this->translate('Image')?></a></th>
      <th class="table-header-options line-left"><a href="">Options</a></th>
    </tr>

      <?php $cycle=$this->cycle(array("","alternate-row"));?>

      <? if (count($this->deals)>0) : ?>

      <?php foreach ($this->deals as $deal) :
          /* @var Epr_Deal $deal */
          ?>

      <tr class="<?$cycle->next()?> <?=!$deal->isActive()?'row_inactive':''?>">
        <td><input  type="checkbox"/></td>
        <td><?=$deal->getTitle()?></td>
        <td><?=$deal->getStartDate()->format('d.m.Y');?> -- <?=$deal->getEndDate()->format('d.m.Y');?></td>
        <td><?=$deal->isFeatured()?'featured':''?></td>

          <?
          $images = $deal->getAttachments();
          ?>
        <td>
            <?
            if(count($images)>0):
                foreach($images as $image):?>
            <?='<img src="data:' . $image->getContentType() . ';base64,' . $image->getBase64EncodedData() . '" width="50" />';?>
            <? endforeach; endif; ?>
        </td>

        <td class="options-width">
          <a href="<?=$this->editUrl?>/id/<?=$deal->getId()?>" title="Edit" class="icon-1 info-tooltip"></a>
          <a href="<?=$this->previewUrl?>/id/<?=$deal->getId()?>" title="Preview" class="icon-3 info-tooltip"></a>
          <a href="<?=$this->deleteUrl?>/id/<?=$deal->getId()?>" title="Delete" class="icon-2 info-tooltip" onclick="return confirm('<?=$this->translate('Delete Item?')?>');"></a>
          <a href="<?=$this->deactivateUrl?>/id/<?=$deal->getId()?>" title="<?=$this->translate($deal->isActive()?'Deactivate Item':'Activate Item')?>" class="icon-5 info-tooltip"  onclick="return confirm('<?=$this->translate($deal->isActive()?'Deactivate Item?':'Activate Item?')?>');"></a>
        </td>
      </tr>
          <?php endforeach; ?>

      <? else : ?>

    <tr class="<?$cycle->next()?>">
      <td colspan="5"><?=$this->translate('No Items')?></td>
    </tr>

      <? endif; ?>
  </table>
  <!--  end product-table................................... -->
</form>
</div>
<!--  end content-table  -->

<!--  start actions-box ............................................... -->
<div id="actions-box">
  <a href="" class="action-slider"></a>
  <div id="actions-box-slider">
    <a href="" class="action-edit">Edit</a>
    <a href="" class="action-delete">Delete</a>
  </div>
  <div class="clear"></div>
</div>
<!-- end actions-box........... -->

<!--  start paging..................................................... -->
<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
  <tr>
    <td>
      <a href="" class="page-far-left"></a>
      <a href="" class="page-left"></a>
      <div id="page-info">Page <strong>1</strong> / 15</div>
      <a href="" class="page-right"></a>
      <a href="" class="page-far-right"></a>
    </td>
    <td>
      <select  class="styledselect_pages">
        <option value="">Number of rows</option>
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
      </select>
    </td>
  </tr>
</table>
<!--  end paging................ -->

<div class="clear"></div>