<div id="nav-right">

    <div class="nav-divider">&nbsp;</div>
    <div class="showhide-account"><img src="/images/shared/nav/nav_myaccount.gif" width="93" height="14" alt="" /></div>
    <div class="nav-divider">&nbsp;</div>
    <a href="<?=$this->url(array('module'=>'admin', 'controller'=>'auth', 'action'=>'logout'))?>" id="logout"><img src="/images/shared/nav/nav_logout.gif" width="64" height="14" alt="" /></a>
    <div class="clear">&nbsp;</div>

    <!--  start account-content -->
    <div class="account-content">
        <div class="account-drop-inner">
            <a href="" id="acc-settings">Settings</a>
            <div class="clear">&nbsp;</div>
            <div class="acc-line">&nbsp;</div>
            <a href="" id="acc-details">Personal details </a>
            <div class="clear">&nbsp;</div>
            <div class="acc-line">&nbsp;</div>
            <a href="" id="acc-project">Project details</a>
            <div class="clear">&nbsp;</div>
            <div class="acc-line">&nbsp;</div>
            <a href="" id="acc-inbox">Inbox</a>
            <div class="clear">&nbsp;</div>
            <div class="acc-line">&nbsp;</div>
            <a href="" id="acc-stats">Statistics</a>
        </div>
    </div>
    <!--  end account-content -->
    <?=$this->test?>
</div>