<div class="nav">
    <div class="table">

        <ul class="<?=$this->controller == 'index'?'current':'select'?>">
            <li><a href="<?=$this->url(array('module'=>'admin', 'controller'=>'index', 'action'=>'index'),null, true)?>"><b><?=$this->translate('Dashboard');?></b><!--[if IE 7]><!--></a><!--<![endif]--></li>
        </ul>

        <div class="nav-divider">&nbsp;</div>

        <ul class="<?=$this->controller == 'backends'?'current':'select'?>"><li><a href="<?=$this->url(array('module'=>'admin', 'controller'=>'backends', 'action'=>'index'),null, true)?>"><b><?=$this->translate('Backends');?></b><!--[if IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        	<div class="select_sub <?=$this->controller == 'backends'?'show':''?>">
                <ul class="sub">
                    <li class="<?=$this->controller == 'backends' && $this->action == 'list'?'sub_show':''?>"><a href="<?=$this->url(array('module'=>'admin', 'controller'=>'backends', 'action'=>'list'),null, true)?>"><?=$this->translate('List Backends');?></a></li>
                    <li class="<?=$this->controller == 'backends' && $this->action == 'register'?'sub_show':''?>"><a href="<?=$this->url(array('module'=>'admin', 'controller'=>'backends', 'action'=>'register'),null, true)?>"><?=$this->translate('Register Backend');?></a></li>
                </ul>
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>
        
        <ul class="<?=$this->controller == 'user'?'current':'select'?>"><li><a href="<?=$this->url(array('module'=>'admin', 'controller'=>'user', 'action'=>'index'),null, true)?>"><b><?=$this->translate('User');?></b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <div class="select_sub <?=$this->controller == 'user'?'show':''?>">
                <ul class="sub">
                    <li class="<?=$this->controller == 'user' && $this->action == 'list'?'sub_show':''?>"><a href="<?=$this->url(array('module'=>'admin', 'controller'=>'user', 'action'=>'list'),null, true)?>"><?=$this->translate('List User');?></a></li>
                    <li class="<?=$this->controller == 'user' && $this->action == 'update'?'sub_show':''?>"><a href="<?=$this->url(array('module'=>'admin', 'controller'=>'user', 'action'=>'update'),null, true)?>"><?=$this->translate('Add User');?></a></li>
                </ul>
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>

        <ul class="<?=$this->controller == 'deals'?'current':'select'?>"><li><a href="<?=$this->url(array('module'=>'admin', 'controller'=>'deals', 'action'=>'index'))?>"><b><?=$this->translate('Deals');?></b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <div class="select_sub <?=$this->controller == 'deals'?'show':''?>">
                <ul class="sub">
                    <li class="<?=$this->controller == 'deals' && $this->action == 'list'?'sub_show':''?>"><a href="<?=$this->url(array('module'=>'admin', 'controller'=>'deals', 'action'=>'list'),null, true)?>"><?=$this->translate('List Deals');?></a></li>
                    <li class="<?=$this->controller == 'deals' && $this->action == 'update'?'sub_show':''?>"><a href="<?=$this->url(array('module'=>'admin', 'controller'=>'deals', 'action'=>'update'),null, true)?>"><?=$this->translate('Add Deals');?></a></li>
                </ul>
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        </ul>

      
        <div class="nav-divider">&nbsp;</div>

        <?php if (Epr_System::getUser()->isAdministrator()) { ?>
        <ul class="<?=$this->controller == 'settings'?'current':'select'?>">
            <li>
                <a href="<?=$this->url(array('module'=>'admin', 'controller'=>'settings','action'=>'index'))?>"><b><?=$this->translate('Settings');?></b></a>
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub <?=$this->controller == 'settings'?'show':''?>">
                	<ul class="sub">
                		<li class="<?=$this->controller == 'settings' && $this->action == 'general'?'sub_show':''?>"><a href="<?=$this->url(array('module'=>'admin', 'controller'=>'settings', 'action'=>'general'),null, true)?>"><?=$this->translate('General');?></a></li>
                		<li class="<?=$this->controller == 'settings' && $this->action == 'modules'?'sub_show':''?>"><a href="<?=$this->url(array('module'=>'admin', 'controller'=>'settings', 'action'=>'modules'),null, true)?>"><?=$this->translate('Modules');?></a></li>
                	</ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
	<?php } ?>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>