<!--  start related-activities -->
<div id="related-activities">

  <!--  start related-act-top -->
  <div id="related-act-top">
    <img src="/images/forms/header_related_act.gif" width="271" height="43" alt="" />
  </div>
  <!-- end related-act-top -->

  <!--  start related-act-bottom -->
  <div id="related-act-bottom">

    <!--  start related-act-inner -->
    <div id="related-act-inner">

      <div class="left"><a href=""><img src="/images/forms/icon_plus.gif" width="21" height="21" alt="" /></a></div>
      <div class="right">
        <h5>Add another product</h5>
        Lorem ipsum dolor sit amet consectetur
        adipisicing elitsed do eiusmod tempor.
        <ul class="greyarrow">
          <li><a href="">Click here to visit</a></li>
          <li><a href="">Click here to visit</a> </li>
        </ul>
      </div>

      <div class="clear"></div>
      <div class="lines-dotted-short"></div>

      <div class="left"><a href=""><img src="/images/forms/icon_minus.gif" width="21" height="21" alt="" /></a></div>
      <div class="right">
        <h5>Delete products</h5>
        Lorem ipsum dolor sit amet consectetur
        adipisicing elitsed do eiusmod tempor.
        <ul class="greyarrow">
          <li><a href="">Click here to visit</a></li>
          <li><a href="">Click here to visit</a> </li>
        </ul>
      </div>

      <div class="clear"></div>
      <div class="lines-dotted-short"></div>

      <div class="left"><a href=""><img src="/images/forms/icon_edit.gif" width="21" height="21" alt="" /></a></div>
      <div class="right">
        <h5>Edit categories</h5>
        Lorem ipsum dolor sit amet consectetur
        adipisicing elitsed do eiusmod tempor.
        <ul class="greyarrow">
          <li><a href="">Click here to visit</a></li>
          <li><a href="">Click here to visit</a> </li>
        </ul>
      </div>
      <div class="clear"></div>

    </div>
    <!-- end related-act-inner -->
    <div class="clear"></div>

  </div>
  <!-- end related-act-bottom -->

</div>
<!-- end related-activities -->