
<!--  start step-holder -->
<div id="step-holder">
  <div class="step-no">1</div>
  <div class="step-dark-left"><a href="">Add product details</a></div>
  <div class="step-dark-right">&nbsp;</div>
  <div class="step-no-off">2</div>
  <div class="step-light-left">Select related products</div>
  <div class="step-light-right">&nbsp;</div>
  <div class="step-no-off">3</div>
  <div class="step-light-left">Preview</div>
  <div class="step-light-round">&nbsp;</div>
  <div class="clear"></div>
</div>
<!--  end step-holder -->