
<div class="general_content" style="z-index:999">
<h2>The Software throws an Error.</h2>
<br />
<p>We are working on it!</p>
<p style="max-width: 800px;"><b><?=wordwrap($this->message, 160, '<br/>', true)?></b></p>

    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
        <tr><td>
            <?php if($this->error): ?>
                <pre style="position:relative; margin-left: auto; margin-right: auto; max-width:1000px; overflow: scroll; border:1px solid black;">
                    <? print_r($this->error); ?>
                </pre>
            <?php endif; ?>
        </td></tr>
    </table>




</div>