<div class="article">
	<div class="single_article_footer">
		<h1>404 - Diese Seite ist nicht verfügbar</h1>
	</div>
	<div class="single_article_footer_end"></div>
						
    
	
	<?php 
		if(isset($_SESSION['errorMessage'])){
			$msg = $_SESSION['errorMessage'];
			unset($_SESSION['errorMessage']);
			?>
			<p><?=$msg;?></p>
			<?php 	
		}
	?>
                        <p style="text-align: center; font-size: 60pt;font-family: Ubuntu; color:#C7CABA;  margin-bottom:0px;">404</p>
                        <p style="text-align: center; font-size: 45pt;font-family: Ubuntu; color:#C7CABA;">Error</p>
	<p style="margin-top:25px;"><a href="/">Zurück zur Startseite</a></p>
	
</div>