<?php
use Poundation\PArray;

?>
<deals hideAfter="30">

<?php if (isset($this->deals) && ($this->deals instanceof PArray) && ($this->deals->count() > 0)) { ?>

	<?php
		foreach ($this->deals as $deal) {
            /** @var Epr_Deal $deal */
		if ($deal instanceof Epr_Deal) {
	?>
		<deal id="<?=$deal->getId() ?>" featured="<?= ($deal->isFeatured()) ? 'yes' : 'no' ?>">
			<provider>###PROVIDER###</provider>
			<title><?=$deal->getTitle()?></title>
			<teaser><![CDATA[<?= $deal->getTeaser() ?>]]></teaser>
			<startDate><?= $deal->getStartDate()->format('Y-m-d')?></startDate>
            <endDate><?= $deal->getEndDate()->format('Y-m-d')?></endDate>
            <text><![CDATA[<?= $deal->getText()?>]]></text>
            <pass>
            	<online>
            		<static>
            			<code>abcdefg</code>
            		</static>
            		<url>http://amazon.de</url>
            	</online>
            	<onsite>
            		<static method="QR">
            			<code>123456</code>
            		</static>
            		<url>http:/maps.google.de</url>
            	</onsite>
            </pass>
            <?php $attachments = $deal->getAttachments();
                if (count($attachments) > 0) {
                ?>
                <images>
                <?php foreach ($deal->getAttachments() as $key => $attachment ) { ?>
                        <image id="<?= $key ?>"><?=$this->serverUrl() . $this->baseUrl?>/files/deal/<?=$deal->getId()?>/<?=$key?></image>
            <?php } ?>
                </images>
            <?php } ?>
		</deal>
	<?php }} ?>
<?php } ?>

</deals>