<!--  start modules-table ..................................................................................... -->
<form id="mainform" action="asdf">
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
        <tr>
            <!-- <th class="table-header-check"><a id="toggle-all" ></a> </th> -->
            <th class="table-header-repeat line-left minwidth-1"><a href=""><?=$this->translate('Modul')?></a></th>
            <th class="table-header-repeat line-left minwidth-1"><a href=""><?=$this->translate('Display Name')?></a></th>
            <th class="table-header-repeat line-left minwidth-1"><a href=""><?=$this->translate('Description')?></a></th>
            <th class="table-header-options line-left"><a href="">Options</a></th>
        </tr>

        <?php $cycle = $this->cycle(array("","alternate-row"));?>

        <?php if ($this->modules) foreach($this->modules as $module):?>
        <?php if ($module instanceof Epr_Module) { ?>
        <tr class="<?=$cycle->next()?> <?=!$module->isActive()?'row_inactive':''?>">
            <!-- <td><input  type="checkbox"/></td> -->
            <td><?=$module::title() ?></td>
            <td><?=$module->getDisplayname(); ?></td>
            <td><?=$module::description() ?></td>
            <td class="options-width">
                <a href="<?=$this->editUrl?>/id/<?=$module->getId()?>" title="Edit" class="icon-1 info-tooltip"></a>
            </td>
        </tr>
        <?php } ?>
        <?php endforeach; ?>
    </table>
    <!--  end modules-table................................... -->
</form>

<!--  end content-table  -->