<table border="0" width="100%" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td>

        <? echo $this->placeholder('steps');?>


      <!-- start id-form -->
        <?php echo $this->form?>
      <!-- end id-form  -->
		<script type="text/javascript">
        	tinyMCE.init({
          		mode : "specific_textareas",
          		editor_selector : "wysiwyg"
        	});
      </script>
    </td>
    <td>

        <?php echo $this->placeholder('related-activities'); ?>

    </td>
  </tr>
  <tr>
    <td><img src="/images/shared/blank.gif" width="695" height="1" alt="blank" /></td>
    <td></td>
  </tr>
</table>